/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px; 
  background-color:#7E4798;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background-color:#7E4798;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: sticky;
  width: 100%;
  top: 0%;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background:#7E4798;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  z-index: 100;
  background-color: #11101d;
}
.main h1 {

  color: #11101d;
  font-size: 40px;
  text-align: center;
}

.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #282828;
  height: 30%;
}
.statsCard1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  height: 100%;
  width: 50%;
  >span{
    font-size: 1.7rem;
  }
}
.statsCard2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  height: 100%;
  width: 50%;
  >span{
    font-size: 1.7rem;
  }
}


.circle{
  height: 100px;
  width: 100px;
  background-color: rebeccapurple;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 14px solid white;
  align-items: center;
}

.forms{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 2rem;
  background-color:#282828;
}

.switcher{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#373737;
  margin-top: 1rem;
  height: 4rem;
  color: white;
  font-size: 1rem;
  border-radius: 14px;
  >.optionOne{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 14px;
  }
  >.optionTwo{
    display: flex;
    border-radius: 14px;
    justify-content: center;
    border-radius: 14px;
    align-items: center;
    height: 100%;
    width: 50%;
  }
}
.switcher:hover{
  cursor: pointer;
}
.active{
  background-color: #7E4798;
}

.formOne{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
  width: 70%;
  gap: 1rem;
  >span{
    font-size: 1rem;
    color: white;
  }
  >input{
    width: 80%;
    padding: 4px;
    background-color: gray;
    height: 3rem;
    outline: none;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    font-size: 1.8rem;
  }
  >select{
    border-radius: 10px;
    color: white;
    background-color: gray;
    outline: none;
    font-size: 1em;
    padding: 4px;
    width: 80%;
    height: 3rem;
  }
  >button{
    color: white;
    height: 3rem;
    color: black;
    outline: none;
    border-radius: 10px;
    width: 80%;
    &:hover{
      cursor: pointer;
    }
  }
}

.formTwo{
  margin-top: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
  width: 60%;
  gap: 1rem;
  >span{
    font-size: 1rem;
    color: white;
  }
  >input{
    width: 80%;
    padding: 4px;
    background-color: gray;
    height: 3rem;
    outline: none;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    font-size: 1.8rem;
  }
  >select{
    border-radius: 10px;
    color: white;
    background-color: gray;
    outline: none;
    font-size: 1em;
    padding: 4px;
    width: 80%;
    height: 3rem;
  }
  >button{
    color: white;
    height: 3rem;
    color: black;
    outline: none;
    border-radius: 10px;
    width: 80%;
    &:hover{
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 737px) {
  
  .formTwo{
    width: 100%;
  }
}



@media screen and (max-width: 500px) {
  .switcher{
    width: 100%;
  }
  .stats .statsCard1 span, .stats .statsCard2 span{
    font-size: 1rem;
  }
  .formTwo{
    width: 100%;
  >input{
    width: 100%;
  }
  >button{
    width: 100%;
  }
  }
  .formOne{
    >select{
      width: 100%;
    }
    >input{
      width: 100%;
    }
    >button{
      width: 100%;
    }
    width: 100%;
  }
}
